.fondo1{
	background: url(https://d9me64que7cqs.cloudfront.net/images/root/thumbnail-home-aa6be87609b67a5baf3d2ec973074bd7323b24122c3d8b264f37ebdcc69aae0411710ccc44fb5fd5ecc0f2f8e66fdbbd9cb8bca116c7a3f457fb6005234b2d8d.jpg)no-repeat;
	-webkit-text-size-adjust:100%;
	height: 500px;
	right: 500%;
	padding-right: 0%;
	padding-left: 0%;
}